.rus-home__img {
    margin-top: 40px;
}

.rus-main__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    text-align: center;
}

.rus-title {
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}

.rus-content {
    max-width: 684px;
}

.rus-order__content {
    max-width: 551px;
}

.rus-main__img {
    margin-top: 40px;
}

.section-rus__last {
    margin-bottom: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
    .rus-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .case-rus__title {
        font-size: 32px;
    }

    .case-rus__period {
        max-width: 400px;
        margin-left: 0;
    }

    .case-rus__intro {
        gap: 32px;
    }

    .rus-title {
        font-size: 24px;
    }

    .rus-main__img {
        margin-top: 24px;
    }

    .rus-main__content {
        margin: 0 0;
        text-align: left;
        align-items: flex-start;
    }
}