.contacts-form {
    padding: 60px 0;
    color: #fff;
}

.contacts-form__title {
    font-size: 60px;
    line-height: 1;
}

.contacts-form__content {
    opacity: 0.5;
    font-size: 40px;
    line-height: normal;
    margin-top: 16px;
}

.contacts-form__controls {
    display: flex;
    flex-flow: wrap;
    margin-top: 48px;
}

.input-wrapper {
    flex: 1 0 calc(50% - 6px);
    display: flex;
    flex-flow: column;
    gap: 12px;    
}

.input-wrapper__input {
    height: 60px;
    line-height: 60px;
    border-radius: 12px;
    background: #232323;
    color: #fff;
    padding-left: 12px;
    font-size: 16px;
    font-family: 'Inter';
    transition: 0.2s ease-in-out all;
}

.input-wrapper__input--error {
    border: 1px solid #FF5B5B;
}

.input-wrapper__input-footer {
    font-family: 'Inter';
    color: #FF5B5B;
    font-size: 16px;
}

.input-wrapper__label {
    font-family: 'Inter';
    font-size: 16px;
    line-height: normal;
    opacity: 0.6;
}

.contacts-form__select {
    height: 60px;
    padding-top: 18px;
    box-sizing: border-box;
    background: #232323;
    border-radius: 12px;
    color: #fff;
    padding-left: 12px;
    font-size: 16px;
    font-family: 'Inter';
}

.contacts-form__footer {
    display: flex;
    margin-top: 56px;
    justify-content: flex-end;
}

.contacts-form__button {
    flex: 0 0 calc(50% - 6px);
    border-radius: 12px;
    background: #3363ff;
    font-size: 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    transition: 0.2s ease-in-out background;
}

.contacts-form__button:hover {
    cursor: pointer;
    background: #294FCC;
}

.contacts-form-success {
    border-radius: 12px;
    background: #232323;
    padding: 90px 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 48px;
    text-align: center;
}

.contacts-form-success__title {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1;
}

.contacts-form-success__content {
    color: #808080;
    font-family: 'Inter';
    font-size: 16px;
    margin-top: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
    .contacts-form__footer {
        justify-content: stretch;
    }

    .contacts-form__button {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 768px) {
    .input-wrapper + .input-wrapper:nth-child(even) {
        margin-left: 12px;
    }
    
    .input-wrapper:nth-child(n + 3) {
        margin-top: 24px;
    }
}

@media screen and (max-width: 767px) {
    .contacts-form__controls {
        display: flex;
        flex-flow: column;
        gap: 16px;
    }

    .contacts-form__footer {
        justify-content: stretch;
        margin-top: 24px;
    }

    .contacts-form__button {
        flex: 0 0 100%;
    }

    .contacts-form__title {
        font-size: 40px;
        max-width: 250px;
    }
    
    .contacts-form__content {
        font-size: 24px;
        max-width: 250px;
    }
}