@font-face {
  font-family: 'Soyuz Grotesk';
  src: url('./shared/fonts/Soyuz\ Grotesk\ Bold.woff');
}

@font-face {
  font-family: 'Inter';
  src: url('./shared/fonts/Inter-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Soyuz Grotesk', 'Georgia', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, select, button {
  all: unset;
}

.container {
  margin: 0 auto;
  width: 1120px;
  max-width: 95%;
}

.img--full {
  width: 100%;
  height: auto;
}

.title--default {
  font-size: 24px;
  font-weight: 700;
}

.content--default {
  font-family: 'Inter';
  font-size: 16px;
  margin-top: 16px;
}

.content--default-base {
  font-family: 'Inter';
  font-size: 16px;
}

.section--default {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .section--default {
    margin-top: 80px;
  }
}